<div class="store-show-main">
<div class="store-show-box">
		
	<div class="store-show-box-item store-show-text">
		<hr size="0.5" color="#d8d8d8">
		<div class="text-good">owner</div>
		<div class="show-nickname"><%= @store.owner.nickname %></div>
		<div class="text-good">store</div>
		<div class="show-nickname"><%= @store.store_name %></div>
		<div class="text-good"><%= @store.store_category %></div>
		<div class="text-good"><%= @store.good %></div>
		<div class="text-good"><%= @store.introduction %></div>
			<% if customer_signed_in? %>
			<!-- ownerのidがほしい -->
			<%= form_tag("/conversations", method: "post") do %> <!-- conversation create にデータを送る -->
			<%= hidden_field_tag :owner_id, @store.owner.id%><!-- 使用者には見えないデータ（ここでいう@store.owner.idをowner_id → 名前はなんでもいい）を送る　 -->
			<%= submit_tag("Contact to #{@store.owner.nickname}")%>
			<% end %>
		<% end %>
	</div>

	<div class="store-image-box"><%= attachment_image_tag @store, :image,:fill,960,720, fallback: "no_image.jpg",size:'960x720' %></div>
</div>
<hr size="0.5" color="#d8d8d8">
<!-- 店主の投稿一覧 -->
	<div class="post-box">
		<% @posts.each do |post|%>
		<div class="post-item">
			<div><%= attachment_image_tag post, :image, :fill,360,300,fallback:"no_image.jpg",size:'369x300'%></div>
			<span class="post-text"><%= post.comment %></span>
		</div>
		<% end %>
	</div>
</div>